@media (min-width: 1000px) {
    .footer-header-res h1 {
        justify-content: center;
        text-align: center;
        color: rgb(0, 204, 255);
        font-weight: bold;
        width:100%;
        font-size: 4rem;
      }

      .headerimage{
        height:auto;
        width: 25vw;
      }
}