.header-style {
  position: relative;
}

.header-style.headerformat {
  margin-top: 5%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
}

.header-style.navbar-options {
  background-color: rgb(155, 179, 170);
  padding: 0px 0px 0px 70px;
}

.header-style.navbar-options a {
  color: rgb(255, 255, 255);
}

.header-style.navbar-options a:hover {
  color: rgb(1, 139, 173);
}

.navbar-nav a {
  color: rgb(0, 68, 255);
  font-weight: bolder;
}

.navbar-nav a:hover {
  color: rgb(173, 93, 1);
}

#navbarNav {
  padding-right: 10px;
  position:absolute;
  width:100%;   
  z-index:999999;
}

.navbar-nav{
  float:right; 
}

.button-move {
  margin-right:1em;
}

.navbar-nav > .active > a {
  color: rgb(241, 145, 1);    
}

.list-group {
  list-style: none;
}

.body-style {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  background-blend-mode:darken;
}

.bodybgimage {
  position: relative;
  background: url('../images/ColourLab/page_images/Image_2_1.jpg') 50% no-repeat;
  background-color: rgba(255, 0, 0, 0); 
  width:100%;
  object-fit: fit;
}

.bodybgimage::before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 105%;
  width: 100%;
  opacity: 0.2;
  object-fit: fit;
}

.body-style.top-message p {  
  margin-top: 20px;
}

.body-style.images-style{  
  padding: 2em;
}

.body-style.product-style{  
  color: rgb(85, 85, 85);
}

.body-style.images-style img {  
  max-width: 80%;
  height: auto;
  object-fit: fit;
}

.footer-style {
  justify-content: center;
  text-align: center;
  color: rgb(0, 204, 255);
  font-weight: bold;
  width:100%;
  font-size: 1em;
}

.footer-header h1 {
  justify-content: center;
  text-align: center;
  color: rgb(0, 204, 255);
  font-weight: bold;
  width:100%;
  font-size: 5vw;
}

.icons-style {
  padding: 5%;
}

.icons-style a {
  padding: 2%;
  font-size:2em;
}

.footerbgimage {  
  position: relative;
  background-color: rgba(54, 25, 25, .00004);
  background-size:100%;
  width: 100%;
  height:auto;
}


/*
.footerbgimage::before {  
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 105%;
  width: 100%;
  opacity: 0.2;
}
*/

.store-hours {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 2em;
  color: rgb(0, 204, 255);
  font-weight: bold;
}
