.header-style {
  position:relative; 
}

.header-style.headerformat h3 {
  margin-top: 10px;
  color: rgb(64, 201, 10);
  font-weight: bold;  
}

.body-style {
  color: rgb(0, 204, 255);
  text-align: center;
  font-weight: bold;
}

.footer-style {
  
}


.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: rgb(243, 242, 242);
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.bodybgimage {  
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

.bodybgimage::before {
  content: '';
  position: absolute;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  background: url('../images/ColourLab/page_images/Image_2.jpg') 50% 50% no-repeat;
  background-color: rgba(54, 25, 25, .00004);
  height: auto;
  width: 100%;
  margin: 0;
  opacity: 0.2;
}


.footerbgimage {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

.footerbgimage::before {
  content: '';
  position: absolute;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  background: url('../images/ColourLab/page_images/Image_1.jpg') 50% 50% no-repeat;
  background-color: rgba(54, 25, 25, .00004);
  height: auto;
  width: 100%;
  margin: 0;
  opacity: 0.1;
}